<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test meteo </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>

        <div class="container">
                <fieldset>
                    <form action="/" method="post">
                        <input oninput="checkinput()" id = "city" name="city" type="text" class="ghost-input" placeholder="Entrez une ville" required>
                        <input oninput="checkinput()" id="zip" name="zip" type="text" class="ghost-input" placeholder="Entrez un code postale" required>
                        <input type="submit" class="ghost-button" value="Météo">
                    </form>
                    <div class="resultats">
                        <% if(weather !== null){ %>
                            <p><%= weather %></p>
                            <p><%= humidity %></p>
                            <p><%= wind %></p>
                            <p id="lon"><%= lon %></p>
                            <p id="lat"><%= lat %></p>
        <!--                     <p><%= lon %></p>
                            <p><%= lat %></p> -->
                            <p><%= description %></p>
        <!--                     <p><%= country %></p> -->
                            <% } %>

                            <% if(error !== null){ %>
                            <p><%= error %></p>
                            <% } %>
                    </div>
                </fieldset>
                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                <div style='overflow:hidden;height:440px;width:700px;'>
                <div id='gmap_canvas' style='height:440px;width:700px;'>
</div>
</body>


<script type='text/javascript'>
var lon = document.getElementById("lon").innerHTML;
var lat = document.getElementById("lat").innerHTML;
    function init_map() {
        var myOptions = {
            zoom: 10,
            center: new google.maps.LatLng(lat,lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
        marker = new google.maps.Marker({
            map: map,
 position: new google.maps.LatLng(lat,lon),
        });
        infowindow = new google.maps.InfoWindow({
            content: '<strong>Titre</strong><br>Paris, France<br>'
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);
    }
    google.maps.event.addDomListener(window, 'load', init_map);
</script>


<script>
    function desactivationTxtZip() {
        document.getElementById("city").disabled = true;
        document.getElementById("zip").disabled = false;
    }

    function activationTxtCity() {
        document.getElementById("city").disabled = false;
        document.getElementById("zip").disabled = true;
    }
    function checkinput() {
        if (document.getElementById("city").value != "") {
            document.getElementById("zip").disabled = true;
        } else if (document.getElementById("zip").value != "") {
            document.getElementById("city").disabled = true;
        } else {
            document.getElementById("zip").disabled = false;
            document.getElementById("city").disabled = false;
        }
    }


</script>
</html>
